@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lilita+One|Poppins:400,700&display=swap');

body {
  background-image: url('images/backgroundimage.jpeg');
  background-size:cover;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 800px;
  margin: 24px auto 24px auto;
  padding: 30px;
  text-align: center;
  border-radius: 18px;
  box-shadow: 0px 10px 30px rgba(10,10,10, 0.2);
  background-color: #effcef;
  opacity: 0.8;
}

/*#header {
  opacity: 0.9;
}

#footer {
  opacity: 0.8;
}*/

.social p {
margin: 8px auto 8px, auto;
font-size: 10px;
}

h1 {
  color: black;
  font-family: 'Lilita One', cursive;
  font-size: 30px;
}

h2 {
  color: #1b2a49;
  font-size: 15px;
}

img {
  border-radius: 50%;
  width: 250px;
}

#button {
  text-decoration: none;
  border: none;
  padding: 8px 16px;
  display: inline-block;
  background-color: #bbcfff;
  font-size: 14px;
}

ul {
  list-style: none;
  padding:0;
}

li {
  display: inline-block;
}

.fab {
  font-size: 32px;
  margin: 0 24px;
  color: #3282b8;
}

.fab:hover {
  color: #0f4c75;
}

